<div class="header-wrapper  noindex">
  <div id="top" class="skiplinks" aria-hidden="true">
      <ul class="skiplinks-list">
          <li>
              <a class="skiplinks-link" href="#main">Skip to content</a>
          </li>
      </ul>
  </div>
  <!--/.skip-links-->
                            
  <div class="header">
      <div class="logos clearfix">
          <a href="/" class="gov-logo" title="Australian Government">
              <img src="{{ base_path ~ directory }}/aus-gov-logo.svg" alt="">
              <img class="print" src="./Water Rating _ Australian Government_files/aus-gov-logo-dark.svg" alt="">
              <span class="visually-hidden">Australian Government</span>
          </a>
          <a href="/" class="wr-logo" title="Water Rating">
              <img src="{{ base_path ~ directory }}/waterrating-logo.svg" alt="">
              <img class="print" src="{{ base_path ~ directory }}/waterrating-logo-dark.svg" alt="">
              <span class="visually-hidden">{{ site_name }}  </span>
          </a>
      </div>
      <!-- .logos -->
      <div id="global-search-form" data-action="/search" class="global-search-form">
          <label for="global-search-query" class="visually-hidden">Search keyword
          
          </label>
          <input id="global-search-query" type="text" name="query" placeholder="Search waterrating.gov.au">
          <button type="button" name="search">
              <span class="visually-hidden">Search
              
              </span>
          </button>
      </div>
  </div>
  <!-- .header -->

</div>
<!-- .header-wrapper -->


<div class="nav-wrapper clearfix noindex ms-dialogHidden">
  <div class="nav-mobile-link-wrapper">
    <a class="nav-mobile-link" title="Show/Hide menu" href="javascript:void(0)">
      <span class="menu-icon"></span>
      Main menu
    </a>
  </div>
  <nav id="main-navigation" class="main-navigation">
    {{ page.nav }}
  </nav>
</div>
<!-- .nav-wrapper -->