{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{% set navhtml %}
{{ menus.menu_links(items, attributes, 0, 0) }}
{% endset %}

{% macro menu_links(items, attributes, menu_level, print_level) %}
  {% import _self as menus %}


  {% if items %}    
      {% if attributes.hasClass("level" ~ menu_level) %}
        {{ attributes.removeClass("level" ~ menu_level) }}
      {% endif %}
        {% set currentpath = path('<current>') %}
        {% set pathlist = currentpath|split('/')%}
        {% set startlevel = (pathlist|length - 1)|render %}
        {% set toplevelpath = ("/" ~ pathlist[1]|render ~ "/") %}        
      {% for item in items %}
        {% set itempath = item.url|render %}
        {% set currentlevel = (menu_level + 1) %}
        {% if (pathlist|length == 2) or ((currentlevel >= startlevel) and (toplevelpath in (item.url|render))) or (toplevelpath == "/system/") %}
          {% if loop.first %}
            {% set print_level = print_level + 1 %}
            <ul class={{"level#{print_level}"}}>
          {% endif %}  
          {% if item.below %}
            {% set hassub = 'has-sub' %}
          {% else %}
            {% set hassub = '' %}
          {% endif %}
          {% if itempath == currentpath %}
            <li{{ item.attributes.addClass('is-active',hassub) }}>
          {% else %}
            <li{{ item.attributes.addClass(hassub) }}>
          {% endif %}
            {{ link(item.title, item.url) }}
        {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, print_level) }}
        {% endif %}
        </li>
               {% if loop.last %}
                </ul>
              {% endif %}
      {% endfor %} 
  {% endif %}
{% endmacro %}
{{navhtml}}