<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <head-placeholder token="{{ placeholder_token }}">
  <title>{{ head_title|safe_join(' | ') }}</title>
  <css-placeholder token="{{ placeholder_token }}">
  <js-placeholder token="{{ placeholder_token }}">
</head>
<body{{ attributes }}>
  {#
    Keyboard navigation/accessibility link to main content section in
    page.html.twig.
  #}
  
  <div class="body-wrapper view-mode">
  
    <div id="page-wrapper" class="page-wrapper">

      {{ page_top }}
      {{ page }}
      {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
    </div>
  </div>
</body>
</html>
